.input-layout {
    label {
        display: inline-block;
        min-width: 100px;
    }
}

.sides-editor {
    $thickness: 10;

    display: block;
    position: relative;

    .left {
        position: absolute;
        left: 0px;
        top: $thickness;
        height: calc(100% - 2 * $thickness);
    }
}